# Byte-compiled / cache
__pycache__/

# Virtual environments
venv/
.env/
.venv/
data/

# Python packaging / build artifacts
build/
dist/
models/
*.egg-info/

# IDE / editor settings
.vscode/
.idea/

# Coverage / test artifacts
.pytest_cache/

